.Navbar{
    width: 100%;
    background-color: #f9f9f9;
}
.nav{
    min-height: 5rem;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 2rem;
}
.search{
    width: 50rem;
}
.menu{
    cursor: pointer;
}